# training data
training_data_filtered
testing_data_pose_filtered
testing_data_final_filtered
models

# outputs
output_images
output_images_pointnet
*.pth
*.png
!assets/*.png
runs

benchmark_utils
*.pyc
__pycache__/