# training data
training_data_filtered
testing_data_pose_filtered
testing_data_final_filtered
models

# outputs
output_images
output_images_pointnet
*.pth
*.png
!assets/*.png
runs

benchmark_utils
*.pyc
__pycache__/

# Local development files
hw2_docs/
see_data.ipynb
inspect_pkl.py
main.tex
output_images_test/
*.ipynb
*.log
*.aux
*.out
